<section class="section about-section">
  <div class="about-container container">
    <h2 class="about-titl">About us</h2>
    <div class="about-text-container">
      <p class="about-text about-text-one">
        Welcome to our premium watch collection, where luxury and style meet
        functionality and precision. Our selection of timepieces embodies the
        very best in Swiss craftsmanship and engineering, ensuring that you'll
        always have a reliable and stylish accessory on your wrist.
      </p>
      <p class="about-text about-text-two">
        At our premium watch collection, we believe that a watch is more than
        just a timekeeping device – it's a statement piece that reflects your
        personality and style. So why settle for anything less than the best?
        Browse our collection today and discover the perfect watch for you.
      </p>
    </div>
  </div>
  <picture class="container-media">
    <source
      srcset="
        ./src/img/about-us/mobile-about-gif.jpg    1x,
        ./src/img/about-us/mobile-about-gif-2x.jpg 2x
      "
      media="(min-width: 375px)"
    />

    <source
      srcset="
        /src/img/about-us/tablet-about-gif.jpg    1x,
        /src/img/about-us/tablet-about-gif-2x.jpg 2x
      "
      media="(min-width: 768px)"
    />

    <source
      srcset="
        /src/img/about-us/desctop-about-gif.jpg    1x,
        /src/img/about-us/desctop-about-gif-2x.jpg 2x
      "
      media="(min-width: 1280px)"
    />
    <img
      src="/src/img/about-us/mobile-about-gif.jpg"
      alt="foto"
      width="335"
      height=""
    />
  </picture>
</section>
