<div class="mobile-menu" data-menu>

    <div class="container mobile-menu_container" style="width: 100%;">
        <div>
            <button type="button" class="mobile-menu_close-btn" data-menu-close>
                <svg class="mobile-menu_close-icon" width="24" height="24" data-menu-open>
                    <use href="./img/icons.svg#icon-mobile-x-white"></use>
                </svg>
            </button>
            <nav>
                <a href="./index.html" class="logomobheader link">
                <img src="./img/logo-header.svg" class="logo-icon" width="14" height="14">
                <span class="logo-style">thewatchspot</span></a>
                <ul class="list mobile-blosk-vur mod">
                    <li class="menu-mobile_item"><a href="#about" class="menu-mobile_link link links">ABOUT US</a></li>
                    <li class="menu-mobile_item"><a href="#catalog" class="menu-mobile_link link links">CATALOG</a></li>
                    <li class="menu-mobile_item"><a href="#sale" class="menu-mobile_link link links">SALE</a></li>
                </ul>
            </nav>
        </div>


    </div>
</div>