<div class="mobile-menu" data-menu>

    <div class="container mobile-menu_container">
        <div>
            <button type="button" class="mobile-menu_close-btn" data-menu-close>
                <svg class="mobile-menu_close-icon" width="24" height="24" data-menu-open>
                    <use href="./images/icons.svg#icon-mobile-x"></use>
                </svg>
            </button>
            <nav>
                <a href="./index.html" class="logo link"></a>
                <svg class="logo-icon" width="14" height="14">
                    <use href="./images/icons.svg#icon-mobile-menu-logo"></use>
                </svg>
                <span class="logo-style">thewatchspot</span></a>
                <ul class="list mobile-blosk-vur mod">
                    <li class="menu-mobile_item"><a href="#about" class="menu-mobile_link link">ABOUT US</a></li>
                    <li class="menu-mobile_item"><a href="#catalog" class="menu-mobile_link link">CATALOG</a></li>
                    <li class="menu-mobile_item"><a href="#sale" class="menu-mobile_link link">SALE</a></li>
                </ul>
            </nav>
        </div>


    </div>
</div>