<section class="catalog">
    <div class="container">
        <h2 class="section-name">
            Catalog
        </h2>

        <ul class="catalog-whatches list">

            <li class="whatches"> <a href="" class="link-whatches link">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./img/w1.png" alt="watches1" width="275">
                            </div>
                            <div class="flip-card-back">

                                <h3 class="over-h"> DESCRIPTION</h3>
                                <p class="over-text descr">Richly detailed with an <br> understated design - the Police
                                    <br> Men’s Greenlane watch.</p>
                                <h3 class="over-h"> DETAILS & FEATURESTION</h3>
                                <p class="over-text">Gender: man <br>
                                    Size: 46x54.5mm <br>
                                    Case Colour: Steel <br>
                                    Band Material: Metal <br>
                                    Case Material: Metal <br>
                                    Features: Multifunction <br>
                                    Water Resistant: 5 (ATM)<br>
                                    Band Colour: Steel</p>


                            </div>
                        </div>
                    </div>
                    <p class="whatch-name">Tube Watch S42 Date Steel With Black Case</p>
                    <span class="watch-price">€395</span>
                </a></li>

            <li class="whatches"> <a href="" class="link-whatches link">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./img/w2.png" alt="watches2" width="275">
                            </div>
                            <div class="flip-card-back">

                                <h3 class="over-h"> DESCRIPTION</h3>
                                <p class="over-text descr">Richly detailed with an <br> understated design - the Police
                                    <br> Men’s Greenlane watch.</p>
                                <h3 class="over-h"> DETAILS & FEATURESTION</h3>
                                <p class="over-text">Gender: man <br>
                                    Size: 46x54.5mm <br>
                                    Case Colour: Steel <br>
                                    Band Material: Metal <br>
                                    Case Material: Metal <br>
                                    Features: Multifunction <br>
                                    Water Resistant: 5 (ATM)<br>
                                    Band Colour: Steel</p>


                            </div>
                        </div>
                    </div>
                    <p class="whatch-name">Avondale Watch Police For Men</p>
                    <span class="watch-price">€800</span>
                </a></li>


            <li class="whatches"> <a href="" class="link-whatches link">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./img/w3.png" alt="watches3" width="275">
                            </div>
                            <div class="flip-card-back">

                                <h3 class="over-h"> DESCRIPTION</h3>
                                <p class="over-text descr">Richly detailed with an <br> understated design - the Police
                                    <br> Men’s Greenlane watch.</p>
                                <h3 class="over-h"> DETAILS & FEATURESTION</h3>
                                <p class="over-text">Gender: man <br>
                                    Size: 46x54.5mm <br>
                                    Case Colour: Steel <br>
                                    Band Material: Metal <br>
                                    Case Material: Metal <br>
                                    Features: Multifunction <br>
                                    Water Resistant: 5 (ATM)<br>
                                    Band Colour: Steel</p>


                            </div>
                        </div>
                    </div>
                    <p class="whatch-name">Diver 300M Co‑Axial Master Chronometer Chronograph</p>
                    <span class="watch-price">€600</span>
                </a></li>


            <li class="whatches"> <a href="" class="link-whatches link">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./img/w4.png" alt="watches4" width="275">
                            </div>
                            <div class="flip-card-back">

                                <h3 class="over-h"> DESCRIPTION</h3>
                                <p class="over-text descr">Richly detailed with an <br> understated design - the Police
                                    <br> Men’s Greenlane watch.</p>
                                <h3 class="over-h"> DETAILS & FEATURESTION</h3>
                                <p class="over-text">Gender: man <br>
                                    Size: 46x54.5mm <br>
                                    Case Colour: Steel <br>
                                    Band Material: Metal <br>
                                    Case Material: Metal <br>
                                    Features: Multifunction <br>
                                    Water Resistant: 5 (ATM)<br>
                                    Band Colour: Steel</p>


                            </div>
                        </div>
                    </div>
                    <p class="whatch-name">Diver 300M Co-Axial Master Chronometer</p>
                    <span class="watch-price">€1400</span>
                </a></li>


            <li class="whatches"> <a href="" class="link-whatches link">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./img/w5.png" alt="watches5" width="275">
                            </div>
                            <div class="flip-card-back">

                                <h3 class="over-h"> DESCRIPTION</h3>
                                <p class="over-text descr">Richly detailed with an <br> understated design - the Police
                                    <br> Men’s Greenlane watch.</p>
                                <h3 class="over-h"> DETAILS & FEATURESTION</h3>
                                <p class="over-text">Gender: man <br>
                                    Size: 46x54.5mm <br>
                                    Case Colour: Steel <br>
                                    Band Material: Metal <br>
                                    Case Material: Metal <br>
                                    Features: Multifunction <br>
                                    Water Resistant: 5 (ATM)<br>
                                    Band Colour: Steel</p>


                            </div>
                        </div>
                    </div>
                    <p class="whatch-name">Taman Watch By Police For Men</p>
                    <span class="watch-price">€500</span>
                </a></li>

            <li class="whatches"> <a href="" class="link-whatches link">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./img/w6.png" alt="watches6" width="275">
                            </div>
                            <div class="flip-card-back">

                                <h3 class="over-h"> DESCRIPTION</h3>
                                <p class="over-text descr">Richly detailed with an <br> understated design - the Police
                                    <br> Men’s Greenlane watch.</p>
                                <h3 class="over-h"> DETAILS & FEATURESTION</h3>
                                <p class="over-text">Gender: man <br>
                                    Size: 46x54.5mm <br>
                                    Case Colour: Steel <br>
                                    Band Material: Metal <br>
                                    Case Material: Metal <br>
                                    Features: Multifunction <br>
                                    Water Resistant: 5 (ATM)<br>
                                    Band Colour: Steel</p>


                            </div>
                        </div>
                    </div>
                    <p class="whatch-name">Malawi Watch Police For Men</p>
                    <span class="watch-price">€555</span>
                </a></li>


            <li class="whatches"> <a href="" class="link-whatches link">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./img/w7.png" alt="watches7" width="275">
                            </div>
                            <div class="flip-card-back">

                                <h3 class="over-h"> DESCRIPTION</h3>
                                <p class="over-text descr">Richly detailed with an <br> understated design - the Police
                                    <br> Men’s Greenlane watch.</p>
                                <h3 class="over-h"> DETAILS & FEATURESTION</h3>
                                <p class="over-text">Gender: man <br>
                                    Size: 46x54.5mm <br>
                                    Case Colour: Steel <br>
                                    Band Material: Metal <br>
                                    Case Material: Metal <br>
                                    Features: Multifunction <br>
                                    Water Resistant: 5 (ATM)<br>
                                    Band Colour: Steel</p>


                            </div>
                        </div>
                    </div>
                    <p class="whatch-name">Diver 300M Co-Axial Master Chronometer</p>
                    <span class="watch-price">€1200</span>
                </a></li>


            <li class="whatches"> <a href="" class="link-whatches link">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./img/w8.png" alt="watches8" width="275">
                            </div>
                            <div class="flip-card-back">

                                <h3 class="over-h"> DESCRIPTION</h3>
                                <p class="over-text descr">Richly detailed with an <br> understated design - the Police
                                    <br> Men’s Greenlane watch.</p>
                                <h3 class="over-h"> DETAILS & FEATURESTION</h3>
                                <p class="over-text">Gender: man <br>
                                    Size: 46x54.5mm <br>
                                    Case Colour: Steel <br>
                                    Band Material: Metal <br>
                                    Case Material: Metal <br>
                                    Features: Multifunction <br>
                                    Water Resistant: 5 (ATM)<br>
                                    Band Colour: Steel</p>


                            </div>
                        </div>
                    </div>
                    <p class="whatch-name">Greenlane Watch By Police For Men</p>
                    <span class="watch-price">€1000</span>
                </a></li>

            <li class="whatches"> <a href="" class="link-whatches link">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./img/w9.png" alt="watches9" width="275">
                            </div>
                            <div class="flip-card-back">

                                <h3 class="over-h"> DESCRIPTION</h3>
                                <p class="over-text descr">Richly detailed with an <br> understated design - the Police
                                    <br> Men’s Greenlane watch.</p>
                                <h3 class="over-h"> DETAILS & FEATURESTION</h3>
                                <p class="over-text">Gender: man <br>
                                    Size: 46x54.5mm <br>
                                    Case Colour: Steel <br>
                                    Band Material: Metal <br>
                                    Case Material: Metal <br>
                                    Features: Multifunction <br>
                                    Water Resistant: 5 (ATM)<br>
                                    Band Colour: Steel</p>


                            </div>
                        </div>
                    </div>
                    <p class="whatch-name">Squardrc 5402 Chrono</p>
                    <span class="watch-price">€359</span>
                </a></li>

            <li class="whatches"> <a href="" class="link-whatches link">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./img/w10.png" alt="watches10" width="275">
                            </div>
                            <div class="flip-card-back">

                                <h3 class="over-h"> DESCRIPTION</h3>
                                <p class="over-text descr">Richly detailed with an <br> understated design - the Police
                                    <br> Men’s Greenlane watch.</p>
                                <h3 class="over-h"> DETAILS & FEATURESTION</h3>
                                <p class="over-text">Gender: man <br>
                                    Size: 46x54.5mm <br>
                                    Case Colour: Steel <br>
                                    Band Material: Metal <br>
                                    Case Material: Metal <br>
                                    Features: Multifunction <br>
                                    Water Resistant: 5 (ATM)<br>
                                    Band Colour: Steel</p>


                            </div>
                        </div>
                    </div>
                    <p class="whatch-name">Diver 300M Co‑Axial Master Chronometer Chronograph</p>
                    <span class="watch-price">€400</span>
                </a></li>


            <li class="whatches"> <a href="" class="link-whatches link">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./img/w11.png" alt="watches11" width="276">
                            </div>
                            <div class="flip-card-back">

                                <h3 class="over-h"> DESCRIPTION</h3>
                                <p class="over-text descr">Richly detailed with an <br> understated design - the Police
                                    <br> Men’s Greenlane watch.</p>
                                <h3 class="over-h"> DETAILS & FEATURESTION</h3>
                                <p class="over-text">Gender: man <br>
                                    Size: 46x54.5mm <br>
                                    Case Colour: Steel <br>
                                    Band Material: Metal <br>
                                    Case Material: Metal <br>
                                    Features: Multifunction <br>
                                    Water Resistant: 5 (ATM)<br>
                                    Band Colour: Steel</p>


                            </div>
                        </div>
                    </div>
                    <p class="whatch-name">Citizen</p>
                    <span class="watch-price">€519</span>
                </a></li>

            <li class="whatches"> <a href="" class="link-whatches link">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="./img/w12.png" alt="watches12" width="276">
                            </div>
                            <div class="flip-card-back">

                                <h3 class="over-h"> DESCRIPTION</h3>
                                <p class="over-text descr">Richly detailed with an <br> understated design - the Police
                                    <br> Men’s Greenlane watch.</p>
                                <h3 class="over-h"> DETAILS & FEATURESTION</h3>
                                <p class="over-text">Gender: man <br>
                                    Size: 46x54.5mm <br>
                                    Case Colour: Steel <br>
                                    Band Material: Metal <br>
                                    Case Material: Metal <br>
                                    Features: Multifunction <br>
                                    Water Resistant: 5 (ATM)<br>
                                    Band Colour: Steel</p>


                            </div>
                        </div>
                    </div>
                    <p class="whatch-name">Armani Exchange</p>
                    <span class="watch-price">€400</span>
                </a></li>

        </ul>

        <button type="button" class="buy-button">BUY NOW</button>
    </div>
</section>