<footer class="footer">
  <div class="footer-container">
    <div class="tablet-footer-flex">
      <!-- <div class="footer-flex"> -->
      <div class="adress-container">
        <a href="./index.html" class="link">
          <img src="./img/footer_img/logo.png" alt="logo" class="footer-logo"
        /></a>
        <address class="footer-adress">
          <ul class="adress-list">
            <li>
              <a class="footer-tel" href="tel:+380684439426"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="adress-text">
              <a
                href="https://www.google.de/maps/@53.558572,9.9278215,10z"
                class="link adress-link"
                target="_blank"
                rel="noreferrer noopener"
              >
                1678 S. Pioneer Road <br />
                Salt Lake City <br />
                UT 84104 <br />
              </a>
            </li>
          </ul>
        </address>
      </div>
      <div class="footer-nav">
        <ul class="anchor-link-list">
          <li class="anchor-list">
            <a href="#about" class="footer-link-text">About us</a>
          </li>
          <li class="anchor-list">
            <a href="#catalog" class="footer-link-text"> Catalog </a>
          </li>
          <li>
            <a href="#sale" class="footer-link-text">Sale </a>
          </li>
        </ul>
      </div>
      <!-- </div> -->
      <div class="socialmedia-container">
        <ul class="socialmedia-list list">
          <li class="socialmedia-icon-footer">
            <a
              href="https://www.facebook.com/"
              class="footer-sm-link"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="24" height="24" class="social-icon">
                <use href="./img/icons.svg#icon-mobile-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socialmedia-icon-footer">
            <a
              href="https://www.instagram.com/"
              class="footer-sm-link"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="24" height="24" class="social-icon">
                <use href="./img/icons.svg#icon-mobile-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socialmedia-icon-footer">
            <a
              href="https://www.youtube.com/"
              class="footer-sm-link"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="24" height="24" class="social-icon">
                <use href="./img/icons.svg#icon-mobile-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container-privacy">
      <p class="copy-icon">&copy;</p>
      <p class="footer-text">2022 The Watch Spot. All rights reserved.</p>
      <div class="container-policy">
        <a href="./index.html" class="link-text">Privacy Policy</a>
        <a href="./index.html" class="link-text">Terms of Service</a>
      </div>
    </div>
  </div>
</footer>
