<section class="end-page-section">
  <div class="footer-container container">
    <div class="tablet-footer-flex">
      <div class="adress-container">
        <a href="./index.html" class="link">
          <img src="./img/footer_img/logo.png" alt="logo" class="footer-logo" />
        </a>
        <address class="footer-adress">
          <ul class="adress-list">
            <li>
              <a class="footer-tel" href="tel:+380684439426"
                >+380 (68) 443-94-26</a
              >
            </li>
            <li class="adress-text">
              <a
                href="https://www.google.com/maps/place/1678+Pioneer+Rd,+Salt+Lake+City,+UT+84104,+%D0%A1%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D1%96+%D0%A8%D1%82%D0%B0%D1%82%D0%B8+%D0%90%D0%BC%D0%B5%D1%80%D0%B8%D0%BA%D0%B8/@40.7335892,-111.9600867,17z/data=!3m1!4b1!4m6!3m5!1s0x8752f35b0826d399:0x2b26230524fd3ca3!8m2!3d40.7335892!4d-111.9600867!16s%2Fg%2F11bw41vm_p"
                class="link adress-link"
                target="_blank"
                rel="noreferrer noopener"
              >
                1678 S. Pioneer Road<br />
                Salt Lake City<br />
                UT 84104<br />
              </a>
            </li>
          </ul>
        </address>
      </div>
      <div class="footer-nav">
        <ul class="anchor-link-list list">
          <li class="anchor-item">
            <a href="#about" class="footer-link-text">About us</a>
          </li>
          <li class="anchor-item">
            <a href="#catalog" class="footer-link-text">Catalog</a>
          </li>
          <li class="anchor-item">
            <a href="#sale" class="footer-link-text">Sale</a>
          </li>
        </ul>
      </div>
      <div class="socialmedia-container">
        <ul class="socialmedia-list list">
          <li class="socialmedia-icon-footer">
            <a
              href="https://www.facebook.com/"
              class="footer-sm-link"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="24" height="24" class="social-icon">
                <use href="./img/icons.svg#icon-mobile-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socialmedia-icon-footer">
            <a
              href="https://www.instagram.com/"
              class="footer-sm-link"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="24" height="24" class="social-icon">
                <use href="./img/icons.svg#icon-mobile-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socialmedia-icon-footer">
            <a
              href="https://www.youtube.com/"
              class="footer-sm-link"
              target="_blank"
              rel="noreferrer noopener"
            >
              <svg width="24" height="24" class="social-icon">
                <use href="./img/icons.svg#icon-mobile-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container-privacy">
      <p class="footer-text">&copy;2022 The Watch Spot. All rights reserved.</p>
      <div class="container-policy">
        <a href="./index.html" class="link-text">Privacy Policy</a>
        <a href="./index.html" class="link-text">Terms of Service</a>
      </div>
    </div>
  </div>
</section>
