<header class="page-header">
  <div class="container page-header-container">
    <nav class="page-nav">
      <a href="./index.html" class="logo link">
        <img src="./img/icons.svg#icon-mobile-header-logo" class="logo-icon" width="14" height="14">
        <span class="logo-style">thewatchspot</span></a
      >
      <ul class="menu list">
        <li class="menu-item">
          <a href="#about" class="menu-link link">ABOUT US</a>
        </li>
        <li class="menu-item">
          <a href="#catalog" class="menu-link link">CATALOG</a>
        </li>
        <li class="menu-item">
          <a href="#sale" class="menu-link link">SALE</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="mobile-menu-open" data-menu-open>
      <svg class="mobile-menu-open-icon" width="24" height="24">
        <use href="./img/icons.svg#icon-burger-menu"></use>
      </svg>
    </button>

    <a href="tel:+380684439426" class="contact-phone-number link"
      >+380 (68) 443-94-26</a
    >
  </div>
</header>
