<!-------------------Hero--------------------->
<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">Welcome to our collection of premium watches</h1>

    <div class="swiper-container mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide img-slide">
          <picture>
            <source
              media="(max-width:767px)"
              src="
                ./images/hero_img/img-slider-mobile_1.png 1x,
                ./images/hero_img/img-slider-mobile_1@2x.png       2x
              "
            />
            <source
              media="(min-width:1200px)"
              srcset="
                ./images/hero_img/img-slider_1        1x,
                ./images/hero_img/img-slider_1@2x.png 2x
              "
            />

            <img
              src="./images/hero_img/img-slider_1.png"
              width="226"
              height="190"
              alt="Wrist watch"
            />
          </picture>
        </div>
        <div class="swiper-slide img-slide">
          <picture>
            <source
              media="(max-width:767px)"
              src="
                ./images/hero_img/img-slider-mobile_2.png 1x,
                ./images/hero_img/img-slider-mobile_2@2x.png       2x
              "
            />
            <source
              media="(min-width:1200px)"
              srcset="
                ./images/hero_img/img-slider_2        1x,
                ./images/hero_img/img-slider_2@2x.png 2x
              "
            />
            <img
              src="./images/hero_img/img-slider_2.png"
              width="226"
              height="190"
              alt="Wrist watch"
            />
          </picture>
        </div>
        <div class="swiper-slide img-slide">
          <picture>
            <source
              media="(max-width:767px)"
              src="
                ./images/hero_img/img-slider-mobile_3.png 1x,
                ./images/hero_img/img-slider-mobile_3@2x.png       2x
              "
            />
            <source
              media="(min-width:1200px)"
              srcset="
                ./images/hero_img/img-slider_3        1x,
                ./images/hero_img/img-slider_3@2x.png 2x
              "
            />
            <img
              src="./images/img-slider_3.png"
              width="226"
              height="190"
              alt="Wrist watch"
            />
          </picture>
        </div>
        <div class="swiper-slide img-slide">
          <picture>
            <source
              media="(max-width:767px)"
              src="
                ./images/hero_img/img-slider-mobile_4.png 1x,
                ./images/hero_img/img-slider-mobile_4@2x.png       2x
              "
            />
            <source
              media="(min-width:1200px)"
              srcset="
                ./images/hero_img/img-slider_4        1x,
                ./images/hero_img/img-slider_4@2x.png 2x
              "
            />
            <img
              src="./images/img-slider_4.png"
              width="226"
              height="190"
              alt="Wrist watch"
            />
          </picture>
        </div>
        <div class="swiper-slide img-slide">
          <picture>
            <source
              media="(max-width:767px)"
              src="
                ./images/hero_img/img-slider-mobile_5.png 1x,
                ./images/hero_img/img-slider-mobile_5@2x.png       2x
              "
            />
            <source
              media="(min-width:1200px)"
              srcset="
                ./images/hero_img/img-slider_5        1x,
                ./images/hero_img/img-slider_5@2x.png 2x
              "
            />
            <img
              src="./images/img-slider_5.png"
              width="226"
              height="190"
              alt="Wrist watch"
            />
          </picture>
        </div>
      </div>
    </div>
    <div class="buttons-wrap">
      <div class="swiper-buttons swiper-buttons-tablet">
        <div class="button-prev button-navigation button-navigation-tablet">
          <svg class="swiper-icon hidden" width="40px" height="40px">
            <use href="./images/sprite.svg#"></use>
            <!--вставити -->
          </svg>
        </div>

        <div class="button-next button-navigation button-navigation-tablet">
          <svg class="swiper-icon" width="40" height="40">
            <use href="./images/sprite.svg#"></use>
          </svg>
        </div>
      </div>

      <!-----------Mobile buttons----------->
      <div class="swiper-buttons swiper-buttons-mobile">
        <div class="button-prev button-navigation button-navigation-mobile">
          <svg class="swiper-icon" width="32" height="32">
            <use href="./images/sprite.svg#"></use>
          </svg>
        </div>

        <div class="button-next button-navigation button-navigation-mobile">
          <svg class="swiper-icon" width="32" height="32">
            <use href="./images/sprite.svg#"></use>
          </svg>
        </div>
      </div>

      <div class="text-wrap">
        <ul class="swiper-text-list list">
          <li class="text-item">
            <span class="swiper-text swiper-text-first">01</span>
          </li>

          <li class="text-item">
            <span class="swiper-text">05</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="hero-text-wrap">
      <p class="hero-text">
        Our watches are not just timepieces, but also an expression of your
        personality and lifestyle. From classic designs to modern ones, we have
        a watch to suit every taste and occasion.
      </p>
    </div>
    <picture>
      <source
        media="(min-width:1280px)"
        srcset="
          ./src/images/hero_img/hero-img-desktop.jpg    1x,
          ./src/images/hero_img/hero-img-desktop@2x.jpg 2x
        "
      />
      <source
        media="(min-width:768px)"
        srcset="
          ./src/images/hero_img/hero-img-tablet.jpg    1x,
          ./src/images/hero_img/hero-img-tablet@2x.jpg 2x
        "
      />
      <source
        media="(max-width:1280px)"
        srcset="
          ./src/images/hero_img/hero-img-mobile.jpg    1x,
          ./src/images/hero_img/hero-img-mobile@2x.jpg 2x
        "
      />
      <img
        src="./images/hero-img-desktop.jpg"
        width="335"
        height="410"
        alt="Hand with wrist watch on it"
      />
    </picture>
  </div>
</section>
