<section class="new-watches">
    <div class="container new-watches-container">
        <h1 class="new-watches-tittle" >New watches</h1>
        <h2 class="nw-under-tittle">Green And Bronze—The Match Made In Heaven</h2>
        <ul class="nw-picture-list">
            <li class="nw-picture-item">
                <img class="nw-picture-img" src="./img/new-watches_img/new-watches-hand-mob.jpg" alt="hand" srcset="./img/new-watches_img/new-watches-hand-mob2x.jpg" >
            </li>
            <li class="nw-picture-item">          
                <img class="nw-picture-img" src="./img/new-watches_img/new-watches-mob.jpg" alt="watch" srcset="./img/new-watches_img/new-watches-mob2x.jpg" >
            </li>
        </ul>
    </div>
    </section>
    