<section class="sale-section" id="sale">
  <h2 class="sale-header">Sale</h2>
  <div class="sale-container">
    <div class="sale-gallery-block">
      <div class="sale-gallery-inside-block">
        <ul class="sale-gallery-list">
          <li class="sale-gallery-list-item">
            <img
              class="sale-gallery-list-photo-first"
              src="./img/sale_img/photo-1-mobile.jpg"
              alt="Sale Photo 1"
              srcset="./img/sale_img/photo-1-mobile-2x.jpg"
            />
          </li>
          <li class="sale-gallery-list-item">
            <img
              class="sale-gallery-list-photo"
              src="./img/sale_img/photo-2-mobile.jpg"
              alt="Sale Photo 2"
              srcset="./img/sale_img/photo-2-mobile-2x.jpg"
              width="80"
              height="80"
            />
          </li>
          <li class="sale-gallery-list-item">
            <img
              class="sale-gallery-list-photo"
              src="./img/sale_img/photo-3-mobile.jpg"
              alt="Sale Photo 3"
              srcset="./img/sale_img/photo-3-mobile-2x.jpg"
              width="80"
              height="80"
            />
          </li>
          <li class="sale-gallery-list-item">
            <img
              class="sale-gallery-list-photo"
              src="./img/sale_img/photo-4-mobile.jpg"
              alt="Sale Photo 4"
              srcset="./img/sale_img/photo-4-mobile-2x.jpg"
              width="80"
              height="80"
            />
          </li>
        </ul>
      </div>
      <div class="sale-gallery-big-container">
        <img
          class="sale-gallery-photo-big"
          src="./img/sale_img/photo-big-mobile.jpg"
          alt="Sale Photo Big"
          srcset="./img/sale_img/photo-big-mobile-2x.jpg"
        />
      </div>
    </div>
    <div class="sale-description">
      <div class="sale-product">
        <p class="sale-product-header">Greenlane Watch By Police For MenHT</p>
        <p class="sale-product-tag">Product tag: PEWJK2227003</p>
        <p class="sale-product-price">
          €700<span class="sale-product-old-price">€1000</span>
        </p>
      </div>
      <div class="sale-product-description">
        <p class="sale-product-description-header">Description</p>
        <p class="sale-product-description-text">
          Richly detailed with an understated design - the Police Men's
          Greenlane watch features a versatile multifunction design that fits
          effortlessly into work and play. The steel case is adorned with a
          semi-transparent black dial. The timepiece exhibits a contrast through
          a black IP bracelet with matching crown and pushers.
        </p>
      </div>
      <div class="sale-product-details">
        <p class="sale-product-details-header">DETAILS & FEATUREStion</p>
        <ul class="sale-product-details-list">
          <li class="sale-product-details-list-item">Gender: man</li>
          <li class="sale-product-details-list-item">Size: 46x54.5mm</li>
          <li class="sale-product-details-list-item">Case Colour: Steel</li>
          <li class="sale-product-details-list-item">Band Material: Metal</li>
          <li class="sale-product-details-list-item">Case Material: Metal</li>
          <li class="sale-product-details-list-item">
            Features: Multifunction
          </li>
          <li class="sale-product-details-list-item">
            Water Resistant: 5 (ATM)
          </li>
          <li class="sale-product-details-list-item">Band Colour: Steel</li>
        </ul>
      </div>
    </div>
  </div>
</section>
