.about-section {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  justify-content: center;
}
.about-container {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-titl {font-family: 'Epilogue';
    font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;

  letter-spacing: -0.02em;

  color: #1e2827;
}

.about-text {font-family: 'Epilogue';
    font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #141414;
}

.container-media {display: block;
  width:335px;
  height:365px;
  
  margin-right: auto;
  margin-left: auto;
  
}
.fg{margin-left: auto;
margin-right: auto;}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    flex-wrap: wrap;
  }

  .about-container {
    max-width: 768px;
    flex-direction: row;
  }
  .about-text-container {
    flex-direction: row;
  }
  .about-titl {
    font-size: 40px;
    line-height: 1.1;
  }
  .about-text-one {
    max-width: 220px;
  }
  .about-text-two {
    max-width: 250px;
  }
    .container-media {width: 704px;
      height: 465px;
    
       
      
    }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1176px;
    padding-left: 18px;
    padding-right: 18px;
    
  }

  .about-container {
    max-width: 1280px;
    gap: 110px;
  }
  .about-titl{font-family: 'Epilogue';
    font-style: normal;
    
    width: 174px;}
  .about-text-container {
    gap: 40px;
  }
  .about-text-one {
    max-width: 439px;
  }

  .about-text-two {
    max-width: 380px;
  }
  .container-media
  {max-width: 892px;
    height: 500px; 
    margin-left: auto;     
    margin-top: 40px;
     margin-right: 0;}
     .fg{margin-right: 0;
    }
}
