.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
}
.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-container {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-titl {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #1e2827;
}

.about-text {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #141414;
}

.container-media {
  display: block;
  max-width: 335px;
  height: 365px;
  margin-right: auto;
  margin-left: auto;
}

.gif-content {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .container {
    padding: 0;
  }
  .about-container {
    max-width: 768px;
    flex-wrap: wrap;
  }

  .text-wrap {
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
  }
  .about-text-container {
    flex-direction: row;
  }
  .about-titl {
    width: 174px;
    font-size: 40px;
    line-height: 1.1;
  }
  .about-text-one {
    max-width: 220px;
  }
  .about-text-two {
    max-width: 250px;
  }
  .gif-content {
    margin-top: 40px;
  }
  .container-media {
    display: block;
    max-width: 704px;
    height: 465px;
  }
  
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1212px;
    padding-left: 18px;
    padding-right: 18px;
  }

  .about-container {
    max-width: 1280px;
  }
  .text-wrap {
    gap: 110px;
  }

  .about-text-container {
    gap: 40px;
  }
  .about-text-one {
    max-width: 439px;
  }

  .about-text-two {
    max-width: 380px;
  }
  .container-media {
    max-width: 892px;
    height: 500px;
    margin-left: auto;
    margin-right: 0;
  }
  .gif-content {
    margin-right: 0;
    margin-left: 284px;
  }
}
