@media screen and (min-width: 320px) {
  .list {
    list-style: none;
  }

  .link {
    text-decoration: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .container {
    max-width: 320px;
  }

  .catalog {
    margin-left: auto;
    margin-right: auto;
    width: 320px;

    padding-top: 0;

    background: #fff;
  }

  .section-name {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #1e2827;

    margin-bottom: 40px;
  }

  .whatch-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #141414;

    margin-bottom: 4px;
  }

  .watch-price {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.5);
  }

  .overlay img {
    display: block;
    margin: auto;
    margin-bottom: 15px;
    width: 100%;
    height: 100%;
  }

  li.whatches {
    margin-bottom: 40px;
  }

  .whatch-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #141414;

    margin-bottom: 4px;
  }

  .watch-price {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: -0.02em;

    color: rgba(20, 20, 20, 0.5);
  }

  .buy-button {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;

    background-color: #1e2827;
    cursor: pointer;

    display: block;
    margin-left: auto;
    height: 42px;
    width: 108px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #1e2827;
  }

  .buy-button:hover,
  .buy-button:focus {
    border: 1px solid #fff;
  }

  .whatch-name {
    width: 276px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .whatches:nth-last-child(-n + 4) {
    display: none;
  }

  /*---flipper---*/

  .flip-card {
    background-color: transparent;
    width: 280px;
    height: 360px;
    perspective: 1000px;
    margin-bottom: 14px;
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner,
  .flip-card:focus .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front,
  .flip-card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .flip-card-back {
    background: #1e2827;
    border-radius: 8px;

    transform: rotateY(180deg);

    padding-top: 40px;
    padding-right: 60px;
    padding-left: 40px;
    padding-bottom: 40px;
  }

  .flip-card-front {
    padding: 43px 0;
  }

  /*---flipper-end---*/

  .over-h {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #fff;

    margin-bottom: 10px;
  }

  .over-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.5);
  }

  .over-text.descr {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .catalog {
    width: 375px;
  }

  .flip-card {
    width: 335px;
  }

  .flip-card-front {
    padding: 43px 30px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .catalog {
    width: 768px;
  }

  .catalog-whatches {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 32px;
    margin-bottom: 40px;
  }

  .buy-button {
    height: 50px;
    width: 122px;

    text-align: center;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1212px;
    padding-left: 18px;
    padding-right: 18px;
  }

  .catalog {
    width: 1212px;
 
  }

  .catalog-whatches {
    row-gap: 64px;
    column-gap: 24px;
    margin-bottom: 80px;
  }

  .whatches:nth-last-child(-n + 4) {
    display: block;
  }

  li.whatches {
    margin-bottom: 0;
  }

  .flip-card-front {
    padding: 25px 0;
  }

  .overlay img {
    width: 276px;
    margin: 0;
  }

  .overlay {
    position: relative;
    overflow: hidden;
    width: 276px;
    height: 376px;

    margin-bottom: 14px;
  }

  .whatch-name {
    width: 276px;
  }

  .flip-card {
    width: 276px;
  }
}
