:root {
    --green-color-footer: #1e2827;
    --white-color-footer: #fff;
    --primary-color-footer: #141414;
    --accent-color-footer: #c6cdd1;
}

.footer-container {
    padding: 40px 20px 20px;
    width: 100%;
}

.footer {
    background-color: var(--green-color-footer);
    color: var(--white-color-footer);
}

.footer-tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    font-style: normal;
    display: block;
    margin-bottom: 20px;
}

.footer-logo {
    min-width: 0;
    width: 40px;
    height: 40px;
    margin-bottom: 40px;
}

.adress-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    font-style: normal;
    letter-spacing: -0.02em;
}

.footer-link-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    font-style: normal;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.link-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    font-style: normal;
    letter-spacing: -0.02em;
    color: var(--accent-color-footer);
    display: inline-block;
}

.footer-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    font-style: normal;
    letter-spacing: -0.02em;
    color: var(--accent-color-footer);
    margin-bottom: 14px;
}

.link-text:not(:last-child) {
    margin-right: 14px;
}

.footer-sm-link {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.socialmedia-list {
    display: flex;
    margin-top: 40px;
    margin-bottom: 80px;
    gap: 14px;
}

.footer-flex {
    display: flex;
}

.footer-nav {
    margin-left: auto;
}

.anchor-list {
    margin-bottom: 14px;
}

@media screen and (min-width: 375px) {
    .footer-container {
        width: 375px;
    }
}

@media screen and (min-width: 768px) {
    .footer-container {
        width: 768px;
    }

    .tablet-footer-flex {
        display: flex;
        justify-content: space-between;
    }

    .adress-container {
        margin-right: 142px;
    }

    .footer-logo {
        width: 50px;
        height: 50px;
    }

    .footer-link-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.3;
    }

    .adress-text {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.3;
    }

    .footer-tel {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.3;
    }

    .mobile-logo-icon {
        width: 50px;
        height: 50px;
    }

    .socialmedia-list {
        margin: 0;
    }

    .container-privacy {
        margin-top: 152px;
        display: flex;
    }

    .container-policy {
        margin-left: auto;
    }

    .footer-text {
        font-size: 14px;
        line-height: 1.3;
        margin-right: 220px;
    }

    .link-text {
        font-size: 14px;
        line-height: 1.3;
    }

    .link-text:not(:last-child) {
        margin-right: 18px;
    }
}

@media screen and (min-width: 1280px) {
    .footer-container {
        width: 1280px;
    }

    .adress-container {
        margin-right: 349px;
    }
}