.container {
  margin-left: auto;
  margin-right: auto;
  /*width: 1176px;*/
  /*outline: 1px solid #4d5ae5;*/
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1212px;
    padding-left: 18px;
    padding-right: 18px;
  }

}

@media screen and (max-width: 374px) {
  .container {
    width: 320px;
  }
}

/*-------------хедер----------------------------------*/

.page-header-container {
  /*position: absolute;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header {
  /*position: relative;*/
  padding-top: 34px;
  padding-bottom: 34px;

  background-color: var(--primary-color);
}

.page-nav {
  display: flex;
  align-items: center;
}

.mod {
  margin-top: 207px;
}
/*.logo{
display: flex;
}*/
.logo-icon {
  width: 14px;
  height: 14px;
  margin-right: 4px;
}

.logo-style {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: var(--invent-color);
  margin-right: 80px;
}

.menu {
  display: flex;
}

.menu-item {
  position: relative;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  color: var(--invent-color);
  transition: color var(--transition-time-cubic);
}

/*.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
*/

.contact-phone-number {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  color: var(-invent-color);
  display: block;
  text-align: center;
  min-width: 159px;
  color: var(--invent-color);
  background-color: var(--slider-bg-color);
  border-radius: 8px;
  border: none;
  padding: 18px 35px 18px 36px;
  transition: background-color var(--transition-time-cubic), color 250ms var(--transition-time-cubic);
}

/*.contact-phone-number:hover,
.contact-phone-number:focus {
  color: var(--accent-color);
}*/





@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }

  .contact-phone-number {
    display: none;
  }

}

@media screen and (max-width: 374px) {
  .page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}

/*---------------------------планшет-----------------*/
@media screen and (min-width: 768px) {

  .mobile-menu-open-icon {
    display: none;
  }

  .page-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .mobile-menu {
    display: none;
  }

  .logo-icon {
    width: 19px;
    height: 19px;
  }

  .logo-style {
    font-size: 15px;
    line-height: 1;
  }
}

/*---------------------------/планшет-----------------*/

/*---------------------------комп-----------------*/
@media screen and (min-width: 1280px) {

  .container {
    width: 1212px;
  }
}


/*---------------------------/комп-----------------*/
/*-------------/хедер----------------------------------*/