:root {
  -slider-bg-color: #1e2827;
    -invent-color: #fff;
    -primary-color: #141414;
}

/*скидання початкових відступів*/
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

a {
  display: block;
}

/*----------------------------------------------*/

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: var(--main-font);
  font-weight: 400;
  color: var(--contact-color);
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  /*width: 1176px;*/
  /*outline: 1px solid #4d5ae5;*/
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1176px;
    padding-left: 18px;
    padding-right: 18px;
  }
}

@media screen and (max-width: 374px) {
  .container {
    width: 320px;
  }
}

/*-------------хедер----------------------------------*/

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header {
position: absolute;
  padding-top: 34px;
  padding-bottom: 34px;
  background-color: var(-primary-color);
}

.page-nav {
  display: flex;
  align-items: center;
}

.mod {
  margin-top: 207px;
}
.logo-icon{
  margin-right: 4px;
}
.logo-style {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: var(-invent-color);
  margin-right: 80px;
}

.menu {
  display: flex;
}

.menu-item {
  position: relative;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-link {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  color: var(-invent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}
*/

.contact-phone-number {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  color: var(-invent-color);
  display: block;
  text-align: center;
  min-width: 159px;
  background-color: #1E2827;
  border-radius: 8px;
  border: none;
  padding: 18px 35px 18px 36px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*.contact-phone-number:hover,
.contact-phone-number:focus {
  color: var(--accent-color);
}*/





@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }

  .contact-phone-number {
    display: none;
  }

}

@media screen and (max-width: 374px) {
  .page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/*---------------------------планшет-----------------*/
@media screen and (min-width: 768px) {

  .mobile-menu-open {
    display: none;
  }

  .page-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .mobile-menu {
    display: none;
  }
  .logo-icon{
    width: 19px;
    height: 19px;
  }
  .logo-style{
  font-size: 15px;
    line-height: 1;
  }
}

/*---------------------------/планшет-----------------*/

/*---------------------------комп-----------------*/
@media screen and (min-width: 1280px) {


}

/*---------------------------/комп-----------------*/
/*-------------/хедер----------------------------------*/