.container {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1212px;
    padding-left: 18px;
    padding-right: 18px;
  }
}

/*------------------Hero------------------*/
/*-----------------Mobile------------------*/
.hero {
  background-color: var(--primary-color);
  padding-top: 69px;
}
.hero-title {
  font-weight: 600;
  font-size: 38px;
  line-height: 1.05;

  letter-spacing: -0.04em;

  color: var(--invent-color);
  margin-bottom: 60px;
  width: 335px;
}
.swiper {
  width: 266px;
  margin-left: 0;
  margin-right: 0;
  background-color: var(--slider-bg-color);
  overflow: hidden;

  margin-bottom: 20px;
}

.button-navigation {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 250ms var(--transition-time-cubic);
}

.button-next,
.button-prev {
  border: 1px solid var(--invent-color);
}

.button-navigation:hover,
.button-navigation:focus {
  opacity: 1;
}

.button-navigation-mobile {
  width: 32px;
  height: 32px;
}

.buttons-wrap {
  display: flex;
  width: 266px;
  height: 32px;
  align-items: flex-end;
  justify-content: space-between;

  margin-bottom: 40px;
}
.swiper-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;

  letter-spacing: -0.02em;

  color: var(--invent-color);
}

.swiper-buttons {
  display: flex;
  gap: 12px;
}

.swiper-text-list {
  display: flex;
  align-items: center;

  gap: 6px;
}
.swiper-text-list::before {
  content: '';
  width: 32px;
  height: 1px;
  background-color: var(--invent-color);
  display: block;
}
.text-item:first-child {
  order: -1;
}
.hero-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.29;

  letter-spacing: -0.02em;
  margin-left: auto;
  color: var(--invent-color);
  margin-bottom: 40px;
  width: 248px;
}

@media screen and (max-width: 767px) {
  .swiper-buttons-tablet {
    display: none;
  }
  .hero-text-wrap {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 375px) {
  .hero-title {
    max-width: 335px;
    font-size: 34px;
  }
  .hero-text {
    max-width: 248px;
    margin-left: 0;
    margin-right: 0;
  }
  .swiper {
    max-width: 266px;
    margin-right: 0;
  }
  .buttons-wrap {
    max-width: 266px;
    margin-right: 0;
  }
  .hero-wrap {
    max-width: 335px;
  }
  img {
    max-width: 100%;
    display: block;
  }
  .hero-imd-thumb {
    max-width: 335px;
  }
}

/*---------------------Tablet-------------------------*/

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 80px;
    /* padding-bottom: 64px;*/
  }
  .swiper-buttons-tablet {
    display: flex;
  }
  .swiper-buttons-mobile {
    display: none;
  }
  .swiper {
    width: 436px;
    height: 255px;
  }
  .slider-img {
    margin-left: auto;
    margin-right: auto;
  }
  .button-navigation-tablet {
    width: 40px;
    height: 40px;
  }

  .hero-title {
    font-weight: 600;
    font-size: 60px;
    line-height: 1.03;

    letter-spacing: -0.04em;

    color: var(--invent-color);
    width: 653px;
    margin-bottom: 60px;
  }
  .buttons-wrap {
    width: 436px;
    height: 40px;
  }
  .hero-wrap {
    display: flex;
    gap: 20px;
  }
  .hero-text {
    padding-left: 0;
    width: 248px;
  }
  .hero-text-wrap {
    padding-top: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .hero-container {
    position: relative;
  }
  .hero-title {
    width: 750px;
    margin-bottom: 43px;
  }
  .hero-text {
    padding-top: 0;
  }
  .hero-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    column-gap: 64px;
  }
  .hero-text-wrap {
    position: absolute;
    top: 0;
    right: 18px;
    padding-top: 0;
  }
  .buttons-wrap {
    margin-bottom: 0;
  }
}
